
[submodule "example-projects/abi_dependent_variants"]
	path = example-projects/abi_dependent_variants
	url = ../variant-abi-dependency-example

[submodule "example-projects/numpy"]
	path = example-projects/numpy
	url = ../numpy
	branch = wheel-variants

[submodule "example-projects/scikit-learn"]
	path = example-projects/scikit-learn
	url = ../scikit-learn

[submodule "example-projects/scipy"]
	path = example-projects/scipy
	url = ../scipy

[submodule "flit"]
	path = flit
	url = ../flit

[submodule "hatch"]
	path = hatch
	url = ../hatch

[submodule "meson-python"]
	path = meson-python
	url = ../meson-python
	branch = wheel-variants

[submodule "mockhouse"]
	path = mockhouse
	url = ../mockhouse
	branch = main

[submodule "packaging"]
	path = packaging
	url = ../packaging

[submodule "pip"]
	path = pip
	url = ../pip
	branch = pep-xxx-wheel-variants

[submodule "plugins/amd-variant-provider"]
	path = plugins/amd-variant-provider
	url = ../amd-variant-provider

[submodule "plugins/blas-lapack-variant-provider"]
	path = plugins/blas-lapack-variant-provider
	url = ../blas-lapack-variant-provider

[submodule "plugins/huawei-ascend-variant-provider"]
	path = plugins/huawei-ascend-variant-provider
	url = ../huawei-ascend-variant-provider

[submodule "plugins/intel-variant-provider"]
	path = plugins/intel-variant-provider
	url = ../intel-variant-provider

[submodule "plugins/nvidia-variant-provider"]
	path = plugins/nvidia_variant_provider
	url = ../nvidia-variant-provider
	branch = master

[submodule "plugins/openmp-variant-provider"]
	path = plugins/openmp-variant-provider
	url = ../openmp-variant-provider

[submodule "plugins/provider_variant_aarch64"]
	path = plugins/provider_variant_aarch64
	url = ../provider-variant-aarch64

[submodule "plugins/provider_variant_x86_64"]
	path = plugins/provider_variant_x86_64
	url = ../provider-variant-x86-64

[submodule "schema"]
	path = schema
	url = ../variants-schema

[submodule "variantlib"]
	path = variantlib
	url = ../variantlib
	branch = main